<h2>Nové sledování bylo úspěšně založeno</h2>
<p>
  Sledovaná adresa:
  <br/>
  <br/>
  <a href="<%= @request.url %>"><%= @request.url %></a>
  <br/>
  <br/>
  Upozornění budou zasílána na email: <%= @request.email %>
  <br/>
  ID sledování: <%= @request.id %>
</p>
<p>
</p>
<br/>
Zrušit sledování můžete zde:<a href="<%= @deleteUrl %>">zde</a>

