<div class="row collapse">
    <div class="columns">
        <h5 for="url">Zadejte url adresu výpisu, který chcete sledovat &nbsp;-&nbsp;
            <a href="#" {{action 'showHelp'}}><b>nápověda</b></a></h5>
    </div>
</div>
{{#each message in errors}}
<div class="row">
    <div class="columns">
        <div data-alert class="alert-box warning">
            {{ message }}
        </div>
    </div>
</div>
{{/each}}
<div class="row collapse">
    <div class="small-1 columns">
        <span class="prefix">Url</span>
    </div>
    <div class="small-8 columns">
        {{input value=url id="url" placeholder="http://www.sreality.cz/hledani/prodej/domy?price_max=3000000"
        focus-out="processUrl" insert-newline="processUrl" classBinding="showSummary:disabled"}}
    </div>
    <div class="small-3 columns">
        {{#if showSummary}}
        <button
        {{action 'processUrl'}} class="button postfix">Změnit</button>
        {{else}}
        <button
        {{action 'processUrl'}} class="button postfix">Odeslat</button>
        {{/if}}
    </div>
</div>

{{#if showSummary}}
<div class="row">
    <div class="columns">
        <div data-alert class="alert-box">
            Na <a {{ bind-attr href=url }} target="_blank">zadané adrese</a> jsme nalezli
            <strong>{{ adsCount }} inzerátů</strong>.
            Pokud je chcete sledovat, zadejte Váš e-mail a odešlete.<br/>
            Od toho okamžiku Vám budou chodit upozornění na
            <strong>nové</strong> a <strong>změněné</strong> inzeráty.
        </div>
    </div>
</div>
<div class="row collapse">
    <div class="small-1 columns">
        <span class="prefix">Email</span>
    </div>
    <div class="small-8 columns">
        {{input value=email id="email" placeholder="vaše e-mailová adresa, např. pepa.vomacka@seznam.cz"
        insert-newline="submit"}}
    </div>
    <div class="small-3 columns">
        <button
        {{action 'submit'}} class="button postfix">Začít sledovat</button>
    </div>
</div>
{{/if}}

<div id="help" class="row panel" style="display:none;">
    <div class="columns">
        <a class="close-reveal-modal right" {{action 'showHelp'}}>&#215;</a>
        <ol>
            <li>otevřete si v novém okně <a href="http://www.sreality.cz" target="_blank">www.sreality.cz</a>
            </li>
            <li>na stránkách SReality si najděte inzeráty, které vás zajímají, např. pronájem bytů
                2+kk od 5 do 10 tisíc a potvrďte tlačítkem <strong>Vyhledat</strong><br/>
                <img {{bind-attr src=assets.sr3}}>
            </li>
            <li>zkopírujte URL adresu z adresního řádku a vložte ji do připraveného pole v
                horní části této stránky s označením <strong>Url</strong><br/>
                <img {{bind-attr src=assets.sr2}}><br/>
                <i>
                    <small>označte text, stiskněte pravé tlačítko a vyberte zkopírovat, případně
                        označte text a stiskněte <kbd>Ctrl</kbd> + <kbd>C</kbd></small>
                </i>
            </li>
            <li>potvrďte tlačítkem <strong>Odeslat</strong></li>
        </ol>
    </div>
</div>

<div id="helpDialog" class="reveal-modal" data-reveal>
    <h2><b>Jak na to</b></h2>

    <iframe id="iframeSR"
    {{bind-attr src=iframeUrl}} style="width:100%; min-height:500px;"></iframe>
    <a class="close-reveal-modal">&#215;</a>
</div>
